<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA72QhF3Rhzahh5AYYt8PUhFv4MUZwSVMY</string>
	<key>GCM_SENDER_ID</key>
	<string>498128936884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleSolutionChallenge2024</string>
	<key>PROJECT_ID</key>
	<string>solutionchallenge2024-fcb4d</string>
	<key>STORAGE_BUCKET</key>
	<string>solutionchallenge2024-fcb4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498128936884:ios:e912b1d6a2706f8acfdce1</string>
</dict>
</plist>